[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "readobj"]
	path = readobj
	url = https://github.com/jefferis/readobj
	shallow = true
	registered = true
[submodule "readbitmap"]
	path = readbitmap
	url = https://github.com/jefferis/readbitmap
	shallow = true
	registered = true
[submodule "nabor"]
	path = nabor
	url = https://github.com/jefferis/nabor
	shallow = true
	registered = true
