[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bmp"]
	path = bmp
	url = https://github.com/jefferis/bmp
[submodule "colorRamps"]
	path = colorRamps
	url = https://github.com/cran/colorRamps
[submodule "dendroextras"]
	path = dendroextras
	url = https://github.com/jefferis/dendroextras
[submodule "nabor"]
	path = nabor
	url = https://github.com/jefferis/nabor
[submodule "readbitmap"]
	path = readbitmap
	url = https://github.com/jefferis/readbitmap
[submodule "readobj"]
	path = readobj
	url = https://github.com/jefferis/readobj
